    body{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#ebe8de;
    height: 100px;
    border-top: 5px solid #e56038;
    height: 130px;
}
.head{
    float:left;
    color: black;
    padding-left:20%; 
    margin-top: 3%;

}
.head h1{
    color: #e56038;
    font-size: 40px;
    padding-bottom: 5px;
    

}
.head p{
    padding-left:65px;

}

.list ul{
	list-style-type: none;
    margin-top: 5%;
    margin-right:21%;
    padding: 0;
    overflow: hidden;

    /*padding-right: 6%;*/

}
.list li {
	  
    color: black;
    /*text-align: center;*/
    padding: 16px;
    text-decoration: none;
    float: right;

}



.parentimg{
    background-image:url("../pictures/nature1.jpg");
    background-repeat: no-repeat;
    height: 383px;
    position: relative;
    top: 0px;
    left: 0px;

   
}
.second{
    position: absolute;
    left: 9%;
    padding-top: 8%;
} 


.second h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.second p{
    text-align: justify;
    font-size: 21px;
     padding-bottom: 10px;
}
.second button{
     background-color: #e56038; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;

}
.second button:hover{
    background-color: white;
    color: black;

}
.third{
    background-color: #e56038;
    height: 55px;
}
.third p{
    float: left;
    margin-top: 20px;
    margin-left: 19%;
    color: white;
    font-size: 16px;
}
.third input{
    margin-left: 6%;
    margin-top: 15px;
    font-size: 20px;
    
}
.third button{
     background-color:black; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;

}
.third button:hover{
     background-color: white;
    color: black;
}
#boxcontent
{
width:auto;
max-width:900px;
margin:0 auto;
padding:70px 0 45px 0;
}

#boxcontent article
{
float:left;
width:250px;
margin-right:45px;
font-size:14px;
}

#boxcontent article h3
{
font-size:20px;
margin-bottom:10px;
margin-left:75px;
}

#boxcontent article img
{
float:left;
}

#boxcontent article p
{
line-height:25px;
margin-left:75px;
}










/*800 px teblet view*/

@media only screen and  (max-width: 800px) {
    header{
        width: 800px;
        margin-right: 20px;
    }
    .head h1{
        font-size: 20px;
        margin-left: 10px;
    }
    .head p{
        font-size: 15px;

    }
    .list {
        float: left;
        padding-top: 14px;


    }
    .list ul{
        margin-right: 0%;
    }

    .third{
        height: 100px;
    }

    .third input{
        margin-left: 28%;

    }
    #boxcontent article
     {
       float: none;
       margin: 30px auto 0 auto;
       width: 60%;
     }

}















       
    



/*600 px mobile view


@media only screen and (min-width: 320px) and (max-width: 645px) {
    
    header{
        
        max-width: 600px;

    }
    .head{
        height: 50px;
        padding: 0px;
        display: block;
    }
    .head h1{
        font-size: 16px;
    }
    .head p{
        padding: 0px;
    }

    .list li { 
    padding: 10px;   
    font-size: 12px;

   
    }
    .list ul{
        margin-right:3px;
        margin-bottom: 10px;


    }
    .parentimg{
        display: none;
    }
body{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#ebe8de;
    height: 100px;
    border-top: 5px solid #e56038;
    height: 130px;
}
.head{
    float:left;
    color: black;
    padding-left:20%; 
    margin-top: 3%;

}
.head h1{
    color: #e56038;
    font-size: 20px;
    padding-bottom: 5px;
    

}
.head p{
    padding-left:65px;
    font-size: 10px;

}

.list ul{
    list-style-type: none;
    margin-top: 5%;
    margin-right:21%;
    padding: 0;
    overflow: hidden;
     padding-right: 30%;

   
}
.list li {
      
    color: black;
     text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;

}



.parentimg{
    background-image:url("../pictures/nature1.jpg");
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    top: 0px;
    left: 0px;
   
}
.second{
    position: absolute;
    left: 9%;
    padding-top: 8%;
} 


.second h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.second p{
    text-align: justify;
    font-size: 21px;
     padding-bottom: 10px;
}
.second button{
     background-color: #e56038; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;

}
.second button:hover{
    background-color: white;
    color: black;

/*}*/



  